
div.mylinks_left{
    float: left;
    padding: 15px;
    width: 320px;
}

div.mylinks_right {
    padding: 10px;
    display: block;
    overflow: hidden;

}

div.mylinks_container {
    overflow: hidden;
    width: 100%;
    border-bottom:thin solid black;

}